/* About page */
.bg-section {
    width: 100%;
    height: 300px;
    background-image: url('/images/close-up-hands-business-concept.jpg'); /* Αντικατέστησε το your-image.jpg με τη δική σου εικόνα */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }
  
  .text-content {
    color: white;
    margin-left: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  .text-content h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }



  * NAVBAR*/
.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 70px;
    box-shadow: 0 0 10px rgba(215, 216, 214, 0.8);
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}
  